.permissions-container {
  height: 98%;
}

.btn-group {
  margin: 10px;
}

.top-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.permissions-display-container {
  display: flex;
  justify-content: center;

  .permissions-table-container {
    width: 95%;

    .permissions-table {
      width: 100%;

      .mat-column-action {
        word-wrap: break-word !important;
        white-space: unset !important;
        flex: 0 0 56% !important;
        overflow-wrap: break-word;
        word-break: break-word;
      }
      .mat-column-user,.mat-column-super-user,.mat-column-admin,.mat-column-all {
        flex: 0 0 10% !important;
        justify-content: center;
      }
    }
  }
}
