<div class="permissions-container">

  <div class="btn-group top-controls-container">
    <button mat-raised-button color="primary" (click)="save()" [disabled]="!wasChanged">
      {{ 'config.permissions.buttons.save' | translate }}
    </button>
  </div>

  <div class="permissions-table-container mat-elevation-z8">
    <mat-table [dataSource]="permissionsDataSource" class="permissions-table">

      <!-- Actions -->
      <ng-container matColumnDef="action">
        <mat-header-cell *matHeaderCellDef>
          {{ 'config.permissions.permissionsTable.headers.action' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          {{ element.action }}
        </mat-cell>
      </ng-container>


      <!-- dw -->
      <ng-container matColumnDef="dw">
        <mat-header-cell *matHeaderCellDef class="td-center-content">
          {{ 'config.permissions.permissionsTable.headers.user' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="td-center-content">
          <mat-checkbox [(ngModel)]="element.isDw" (change)="roleChanged(element)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- teacher -->
      <ng-container matColumnDef="teacher">
        <mat-header-cell *matHeaderCellDef class="td-center-content">
          {{ 'config.permissions.permissionsTable.headers.super-user' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="td-center-content">
          <mat-checkbox [(ngModel)]="element.isTeacher" (change)="roleChanged(element)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- admin -->
      <ng-container matColumnDef="admin">
        <mat-header-cell *matHeaderCellDef class="td-center-content">
          {{ 'config.permissions.permissionsTable.headers.admin' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="td-center-content">
          <mat-checkbox [(ngModel)]="element.isAdmin" (change)="roleChanged(element)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <!-- all -->
      <ng-container matColumnDef="all">
        <mat-header-cell *matHeaderCellDef class="td-center-content">
          {{ 'config.permissions.permissionsTable.headers.all' | translate }}
        </mat-header-cell>
        <mat-cell *matCellDef="let element" class="td-center-content">
          <mat-checkbox [(ngModel)]="element.isAll" (change)="roleChanged(element,true)">
          </mat-checkbox>
        </mat-cell>
      </ng-container>


      <mat-header-row *matHeaderRowDef="permissionsDisplayedColumns; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: permissionsDisplayedColumns;">
      </mat-row>
    </mat-table>
  </div>

</div>
