<div class="dialog-container">
  <div class="message-title">
    <div class="header">
      Add Child node
    </div>
    <mat-icon (click)="closeDialog()" class="close-img" svgIcon="close"></mat-icon>
  </div>
  <hr class="line">
  <div class="body-content">

    <div class="required-container">
      <div class="field-container">
        <mat-form-field>
          <mat-label>
            Key
            <span class="mandatory">*</span>
          </mat-label>
          <input matInput #keyInput="ngModel" placeholder="set Key name" [(ngModel)]="key" class="input-name">
        </mat-form-field>

        <div class="invalid-input" [style.visibility]="(keyInput.dirty && keyError)?'visible':'hidden'">
          * {{keyError}}
        </div>
      </div>

      <div class="english-container" *ngIf="handledLanguages">
        <mat-form-field>
          <mat-label>
            English
            <span class="mandatory">*</span>
          </mat-label>
          <input matInput #enInput="ngModel" placeholder="set translation for English"
                 [(ngModel)]="values['en']" class="input-name">
        </mat-form-field>
        <div class="invalid-input" [style.visibility]="(enInput.dirty && enError)?'visible':'hidden'">
          * {{enError}}
        </div>
      </div>
    </div>

    <div class="other-languages-container">
      <ng-container *ngFor="let lang of handledLanguages">
        <div class="non-english-container" *ngIf="lang.lang !== 'en'">
          <mat-form-field>
            <mat-label>
              {{lang.name}}
              <span class="mandatory">*</span>
            </mat-label>
            <input matInput [placeholder]="'set translation for ' +  lang.name"
                   [(ngModel)]="values[lang.lang]" class="input-name">
          </mat-form-field>
        </div>
      </ng-container>

    </div>

  </div> <!--body-section-->

  <div class="buttons-container">
    <button mat-raised-button (click)="closeDialog()" color="accent"
            class="dialog-button">
      Cancel
    </button>

    <button mat-raised-button (click)="submit()" color="primary" [disabled]="!isReadyForSubmit()"
            class="dialog-button">
      Submit
    </button>

  </div> <!--buttons-section-->

</div>

