<div class="dialog-container">
  <div class="message-title">
    <div class="header">
      {{ 'dialogs.selectCourses.header.' + data.forAction| translate}}
    </div>
    <mat-icon (click)="closeDialog()" svgIcon="window-close" class="close-dialog"></mat-icon>
  </div>
  <hr class="line">
  <div class="body-content">

    <div class="courses-container">

      <div class="row-container" *ngFor="let course of data.availableCourses">

        <mat-checkbox (click)="toggleSelection(course)" >
        </mat-checkbox>

        <div class="course-name">
          {{course}}
        </div>

      </div>
    </div>

  </div> <!--body-content-->

  <div class="buttons-container">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      {{ 'dialogs.selectCourses.buttons.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="submit()"
            [disabled]="selectedCourses.length <= 0"
            class="schedule-course-button">
      {{ 'dialogs.selectCourses.buttons.submit' | translate }}
    </button>
  </div>

</div>
