<mat-toolbar style="background-color: #e3f2fd;" class="main-toolbar">

  <section class="">
    <button mat-icon-button [matMenuTriggerFor]="mainOptionsMenu">
      <mat-icon svgIcon="apps" class="options"></mat-icon>
    </button>

    <mat-menu #mainOptionsMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="languagesMenu">
        <mat-icon svgIcon="web"></mat-icon>
        <span>
          {{'main.menu.language.main' | translate}}
        </span>
      </button>
      <button mat-menu-item [matMenuTriggerFor]="dateFormatMenu" *ngIf="isLoggedIn">
        <mat-icon svgIcon="calendar-question"></mat-icon>
        <span>
          {{'main.menu.dateFormat.main' | translate}}
        </span>
      </button>

      <mat-divider *ngIf="getIsLoggedIn()"></mat-divider>

      <button mat-menu-item [matMenuTriggerFor]="exportImportMenu" *ngIf="viewExportImportPermissions">
        <mat-icon svgIcon="swap-vertical-bold"></mat-icon>
        <span>
          {{'main.menu.exportImport.main' | translate}}
        </span>
      </button>

      <mat-divider *ngIf="getIsLoggedIn()"></mat-divider>

      <button mat-menu-item (click)="logout()" *ngIf="getIsLoggedIn()">
        <mat-icon svgIcon="logout"></mat-icon>
        <span>
          {{'main.menu.logout' | translate}}
        </span>
      </button>
    </mat-menu>

    <mat-menu #languagesMenu="matMenu">
      <button mat-menu-item *ngFor="let lang of supportedLanguagesArray"
              (click)="setLanguage(lang)" [ngClass]="{selectedLangClass: lang === currentLanguage}">
        <span>
          {{'main.menu.language.subMenu.' + lang | translate}}
        </span>
      </button>

    </mat-menu>

    <mat-menu #dateFormatMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="delimiterMenu">
        <span>
          {{'main.menu.dateFormat.delimiter' | translate}}
        </span>
      </button>
      <button mat-menu-item *ngFor="let dateFormat of dateFormatOptions"
              (click)="setDateFormat(dateFormat)"
              [ngClass]="{'selected-date-format': dateFormat.template === currentDateFormat.template}">
        <mat-icon svgIcon="square-small"></mat-icon>
        <span>
          {{ dateFormat.delimited }}
        </span>
      </button>

    </mat-menu>

    <mat-menu #delimiterMenu="matMenu">
      <button mat-menu-item *ngFor="let delimiter of delimitersOptions"
              (click)="setDelimiter(delimiter)"
              [ngClass]="{'selected-delimiter': delimiter === currentDateFormat.delimiter}">
        <mat-icon svgIcon="square-small"></mat-icon>
        <span>
          {{ delimiter }}
        </span>
      </button>

    </mat-menu>

    <mat-menu #exportImportMenu="matMenu">
      <button mat-menu-item [matMenuTriggerFor]="importMenu">
        <mat-icon svgIcon="cloud-upload"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.import.main' | translate}}
        </span>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="exportMenu">
        <mat-icon svgIcon="cloud-download"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.export.main' | translate}}
        </span>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="updateMenu">
        <mat-icon svgIcon="refresh"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.update.main' | translate}}
        </span>
      </button>

      <button mat-menu-item [matMenuTriggerFor]="deletetMenu">
        <mat-icon svgIcon="delete"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.delete.main' | translate}}
        </span>
      </button>

    </mat-menu>

    <mat-menu #importMenu="matMenu">
      <button mat-menu-item (click)="uploadCoursesFile()">
        <mat-icon svgIcon="calendar-text-outline"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.import.course' | translate}}
        </span>
      </button>

      <button mat-menu-item (click)="uploadGongFile()">
        <mat-icon svgIcon="music-note"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.import.gong' | translate}}
        </span>
      </button>

    </mat-menu>

    <mat-menu #exportMenu="matMenu">
      <button mat-menu-item (click)="openUpdateDeleteDialog(topic.COURSE,topicAction.DOWNLOAD)">
        <mat-icon svgIcon="calendar-text-outline"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.export.course' | translate}}
        </span>
      </button>
    </mat-menu>

    <mat-menu #updateMenu="matMenu">
      <button mat-menu-item (click)="openUpdateDeleteDialog(topic.GONG,topicAction.UPDATE)">
        <mat-icon svgIcon="music-note"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.update.gong' | translate}}
        </span>
      </button>
    </mat-menu>

    <mat-menu #deletetMenu="matMenu">
      <button mat-menu-item (click)="openUpdateDeleteDialog(topic.COURSE, topicAction.DELETE)">
        <mat-icon svgIcon="calendar-text-outline"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.delete.course' | translate}}
        </span>
      </button>

      <button mat-menu-item (click)="deleteLastGong()">
        <mat-icon svgIcon="music-note"></mat-icon>
        <span>
          {{'main.menu.exportImport.subMenu.delete.lastGong' | translate}}
        </span>
      </button>

    </mat-menu>

  </section>

  <section class="">
    {{'main.labels.currentTime' | translate}} : {{ now | amDateFormat: 'HH:mm'}}
  </section>

  <section class="nextGongTimeContainer" [ngClass]="{langRtl: currentLanguage === 'he'}" *ngIf="getIsLoggedIn()">
    {{'main.labels.nextGong' | translate}} :
    <div *ngIf="nextGongTime">
      {{ nextGongTime | amDateFormat: currentDateFormat.delimited + ' HH:mm'}}
      <span matTooltip="{{ 'main.tooltips.manual.' + !!isManual | translate}}"
            matTooltipClass="manualTooltipClass" class="isManualSymbol mat-elevation-z8">
        {{isManual ? 'M' : 'A'}}
      </span>
    </div>
    <div *ngIf="!nextGongTime">
      {{'main.labels.nextGongNotAvailable' | translate}}
    </div>
  </section>


  <div class="logo-container">
    <img width="40px" height="40px" alt="Custo, Logo" src="assets/icons/icon-72x72.png">
  </div>

</mat-toolbar>

<form>
  <input type="file" #courseFile style="display: none" (change)="onCoursesFileChange()" accept=".json"/>
  <input type="file" #gongFile style="display: none" (change)="onGongFileChange()" accept="audio/*"/>
</form>

