<div class="languages-container">
  <div class="loading-json" [style.display]="showJsonEditor?'none':'block'">
    Loading....
  </div>
  <div class="languages-main" [style.visibility]="showJsonEditor?'visible':'hidden'">
    <app-json-editor #jsonEditor [languagesMap]="globalLanguagesMap"
                     [allowNodesMenu]="currentRole === 'dev'"
                     [readonlyLanguages]="currentRole === 'dev' ? [] :[ 'en']"
                     [allowUpload]="false"
                     [addedControlsTemplate]="addedControlsTemplate"
                     (languagesMapOutput)="languagesMapUpdateReceived($event)"
                     (outputMessages)="jsonEditorMessageReceived($event)">
    </app-json-editor>
  </div>
</div>

<ng-template #addedControlsTemplate>
  <button mat-raised-button color="primary"
          class="top-area-button"
          (click)="jsonEditor.upload()" [disabled]="!isJsonDirty">
    {{ 'dialogs.scheduleCourse.buttons.cancel' | translate }}
  </button>
</ng-template>
