.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  .line{
    margin: unset;
  }
}

.message-title {
  height: 25%;
  font-size: 2em;
  font-weight: bolder;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #3f51b5;
  background-color: #e3f2fd;
  display: flex;
  flex-direction: row;
  padding: 1.4vh 1.5vw;
}

::ng-deep {
  .message-dialog .mat-dialog-container {
    padding: 0;
    border-radius: 0.3rem;
  }

  .mat-dialog-container {
    padding: 0;
    border-radius: 0.3rem;
  }
}

.body-content {
  height: 100%;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.header {
  padding-left: 4vw;
  margin-right: 1vw;
  flex-grow: 1;
}

.close-dialog {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid;
  position: relative;
  top: -4px;
  right: -7px;
  font-size: initial;
  padding: 0px 3px 3px 0px;
}

.buttons-container {
  align-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px;
  border-top: #e3f2fd 2px solid;
  width: 100%;

  BUTTON{
    margin-left: 2vw;
  }
}

