.manualMainContainer {
  height: 95%;
}

.manualMainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manualControlsContainer {
  display: flex;
  flex-direction: column;
}

.manualScheduledTableContainer {
  height: 100%;
  width: 100%;
  margin: 1vw;
  overflow-y: auto;
}

.gongs-features-controls-container {
  height: 100%;
  overflow-y: scroll;
}

.gongTypeSelectionContainer, .areaSelectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 25vw;
  border-left: 9px groove white;
  margin-top: 3vh;
}

.gongTypeSelectionContainer {
  min-height: 100px;
}

.areaSelectionContainer {
  min-height: 140px;
}

.volume-selection-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  border-left: 9px groove white;
  margin-top: 3vh;
  align-items: center;
  min-height: 70px;
}

.volume-container-header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 6px lightgray double;
  padding: 1vh 0vw 0vh 0vw;
}

.volume-slider-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.sliderClass {
  width: 90%;
  height: 7vh;
}

.ctrlContentContainer {
  width: 100%;
}

.mat-list-base {
  padding-top: unset;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.selectedGongTypeClass {
  color: white;
  background-color: dodgerblue;
}

.containerHeader {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-align: center;
  border-left: 6px lightgray double;
  padding: 1vh 0vw 1vh 1vw;
  width: 10%;
}

.btnGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 25vw;
  padding-top: 2vh;
}

.listItemClass {
  height: unset !important;
  padding: 0.5vw 0px !important;
}

.manualButton {
  margin: 1vw 1vh;
}

.datePickerContainer {
  display: none;
}

::ng-deep .snackBarClass {
  width: 50vw !important;
}

::ng-deep .snackBarClass .mat-simple-snackbar {
  justify-content: center;
}

::ng-deep .mat-snack-bar-handset {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

::ng-deep .mat-list .mat-list-item.center .mat-list-item-content {
  justify-content: center;
}
