.manual-main-container {
  height: 95%;
}

.manual-main-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.manual-controls-container {
  height: 105%;
  display: flex;
  flex-direction: column;

  .btnGroup {
    height: 40px;
    min-height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 25vw;
    padding-top: 2vh;

    .manual-button {
      margin: 1vw 1vh;
      //cursor: pointer;
    }

    .schedule-button {
      height: 50px;
    }
  }

  .gongs-features-controls-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .gong-type-selection-container, .area-selection-container, .volume-selection-container {
      .ctrl-content-container {
        width: 100%;
        height: 100%;
        overflow-y: auto;

        .mat-list-base {
          display: unset;
        }
      }
    }

    .gong-type-selection-container, .area-selection-container {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 25vw;
      border-left: 9px groove white;
      margin-top: 3vh;
    }

    .gong-type-selection-container {
      height: 30%;
      min-height: 70px;
    }

    .area-selection-container {
      height: 45%;
      min-height: 70px;
      overflow-y: unset;

      .ctrl-content-container {
        overflow-y: unset;

        .mat-selection-list {
          display: flex;
        }

        .others-area-options {
          height: 100%;
          overflow-y: auto;
        }
      }
    }

    .volume-selection-container {
      height: 25%;
      min-height: 70px;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 25vw;
      border-left: 9px groove white;
      margin-top: 3vh;
      align-items: center;
      adding-bottom: 15px;
      margin-bottom: 15px;
    }
  }
}

.manualScheduledTableContainer {
  height: 100%;
  width: 100%;
  margin: 1vw;
  overflow-y: auto;
}

.volume-container-header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 6px lightgray double;
  padding: 1vh 0vw 0vh 0vw;
}

.volume-slider-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.sliderClass {
  width: 90%;
  height: 7vh;
}

.mat-list-base {
  padding-top: unset;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.selectedGongTypeClass {
  color: white;
  background-color: dodgerblue;
}

.containerHeader {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  text-align: center;
  border-left: 6px lightgray double;
  padding: 1vh 0vw 1vh 1vw;
  width: 10%;
}

.listItemClass {
  height: unset !important;
  padding: 0.5vw 0px !important;
}

.datePickerContainer {
  display: none;
}

::ng-deep .snackBarClass {
  width: 70vw !important;
  max-width: 70vw !important;
  white-space: pre-wrap
}

::ng-deep .snackBarClass .mat-simple-snackbar {
  justify-content: center;
}

::ng-deep .mat-snack-bar-handset {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

::ng-deep .mat-list .mat-list-item.center .mat-list-item-content {
  justify-content: center;
}
