<div class="manual-main-container">

  <div class="manual-controls-container">

    <div class="btnGroup">
      <div class="datePickerContainer">

        <md2-datepicker [(ngModel)]="chosenTime"
                        [isOpen]="isScheduledDatePickerOpen"
                        (onClose)="scheduledDateOnClose()"
                        touchUi="true"
                        type="datetime"
                        [min]="scheduleGongStartDate"
                        [startAt]="scheduleGongStartDate"
                        style="top: 80px; height: 9vh; margin-top: 2vh;">

        </md2-datepicker>
      </div>

      <button mat-fab color="accent" (click)="playGong()" class="manual-button"
              [disabled]="!playGongEnabled || gongToPlay.areas.length <= 0">
        <mat-icon svgIcon="play"></mat-icon>
      </button>
      <button mat-raised-button color="primary" (click)="scheduleGong()" class="manual-button schedule-button"
              [disabled]="gongToPlay.areas.length <= 0">
        {{ 'manualActivation.buttons.schedulePlay' | translate }}
      </button>
    </div><!--End of btnGroup-->

    <div class="gongs-features-controls-container">

      <div class="gong-type-selection-container mat-elevation-z8">
        <div class="containerHeader">
          {{ 'manualActivation.dropdowns.gongType.label' | translate }}
        </div>

        <div class="ctrl-content-container">
          <mat-list>
            <mat-list-item *ngFor="let gongType of gongTypes" class="listItemClass center"
                           [ngClass]="{selectedGongTypeClass: gongType.id === gongToPlay?.gongTypeId}"
                           (click)="gongToPlay.gongTypeId = gongType.id" style="cursor: pointer">
              <span style="text-align: center">
                {{'general.typesValues.gongType.' + gongType?.name | translate }}
              </span>
            </mat-list-item>
          </mat-list>
        </div>
      </div><!--End of gongTypeSelectionContainer-->

      <div class="area-selection-container mat-elevation-z8">
        <div class="containerHeader">
          {{ 'manualActivation.dropdowns.areas.label' | translate }}
        </div>

        <div class="ctrl-content-container">
          <mat-selection-list #areasSelectionCtrl [(ngModel)]="gongToPlay.areas">
            <div class="first-area-option-all">
              <mat-list-option [value]="0" #allAreasSelectionCtrl class="listItemClass">
                {{'general.typesValues.areas.all' | translate }}
              </mat-list-option>
              <mat-divider></mat-divider>

            </div>
            <div class="others-area-options">
              <mat-list-option *ngFor="let area of areas" [value]="area.id" class="listItemClass">
                {{'general.typesValues.areas.' + area.name | translate }}
              </mat-list-option>
            </div>
          </mat-selection-list>
        </div>
      </div><!--End of areaSelectionContainer-->

      <div class="volume-selection-container mat-elevation-z8">
        <div class="volume-container-header">
          {{ 'manualActivation.labels.volume' | translate }}
        </div>

        <div class=" ctrl-content-container volume-slider-container">
          <mat-slider thumbLabel min="1" tickInterval="1"
                      [(value)]="gongToPlay.volume" class="sliderClass">

          </mat-slider>
        </div>
      </div><!--End of volumeSelectionContainer-->

    </div><!--End of gongs-features-controls-->

  </div><!--End of manualControlsContainer-->

  <div class="manualScheduledTableContainer mat-elevation-z8">
    <app-gongs-time-table [scheduledGongs]="scheduledGongsArray"
                          (gongActiveToggleEvent)="onGongRemove($event)" [displayDay]="false"
                          [isDeleteButton]="true">
    </app-gongs-time-table>
  </div><!--End of manualScheduledTableContainer-->

</div>
