@import "src/app/dialogs/shared/dialogs-common";

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .topics-container {
    width: 95%;
    height: 90%;
    overflow-y: auto;

    .row-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      width: min-content;

      .topic-name {
        padding-left: 1vw;

        &.disabled {
          color: lightgray;
        }
      }
    }
  }
}

::ng-deep  .disabledTopicTooltipClass {
  font-size: medium;
  color: white;
  background: #ff4081;
  width: 50vw;
}

.submit-button {
  margin-left: 2vw;
}
