@import "src/app/dialogs/shared/dialogs-common";

.body-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

  .topics-container {
    width: 95%;
    height: 90%;
    overflow-y: auto;

    .row-container {
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;

      .topic-name{
        padding-left: 1vw;

        &.disabled{
          color: lightgray;
        }
      }
    }
  }
}

.submit-button {
  margin-left: 2vw;
}
