<div class="dialog-container">
  <div class="message-title">
    <div class="header">
      {{ 'dialogs.selectTopics.header.' + data.forAction| translate : {topic:topic} }}
    </div>
    <mat-icon (click)="closeDialog()" svgIcon="window-close" class="close-dialog"></mat-icon>
  </div>
  <hr class="line">
  <div class="body-content">

    <div class="topics-container">

      <div class="row-container" *ngFor="let topic of data.availableTopics"
        [matTooltip]="topic.inUse ? disabledTopicToolTip : ''">

        <mat-checkbox (click)="!topic.inUse && toggleSelection(topic)" [disabled]="topic.inUse" *ngIf="data.many">
        </mat-checkbox>

        <mat-radio-button (click)="!topic.inUse && toggleSelection(topic)" [disabled]="topic.inUse" *ngIf="!data.many">
        </mat-radio-button>

        <div class="topic-name" [class.disabled]="topic.inUse">
          {{topic.name}}
        </div>

      </div>
    </div>

  </div> <!--body-content-->

  <div class="buttons-container">
    <button mat-raised-button color="basic" (click)="closeDialog()">
      {{ 'dialogs.selectTopics.buttons.cancel' | translate }}
    </button>
    <button mat-raised-button color="primary" (click)="submit()"
            [disabled]="selectedTopics.length <= 0"
            class="submit-button">
      {{ 'dialogs.selectTopics.buttons.' + data.forAction | translate }}
    </button>
  </div>

</div>
