<div class="main-json-editor-container-not-ok" [style.display]="wasLangLoadedOk?'none':'flex'">
    <div class="not-ok-message">
        Languages were NOT loaded or English is missing
    </div>
</div>

<div class="main-json-editor-container"
     [style.visibility]="wasLangLoadedOk?'visible':'hidden'"
     [style.height]="wasLangLoadedOk?'100%':'0'">

    <div class="main-controls-container" *ngIf="allowMainToolbar">

        <div class="control-buttons-container">
            <button mat-icon-button class="main-menu-button"
                    [matMenuTriggerFor]="mainMenu"
                    (click)="$event.stopPropagation() ">
                <mat-icon class="mat-icon-rtl-mirror"
                          svgIcon="dots-vertical"></mat-icon>

            </button>

            <mat-menu #mainMenu="matMenu">
                <button mat-menu-item [matMenuTriggerFor]="langManagementMenu">
                    <mat-icon svgIcon="web"></mat-icon>
                    <span>
                        Language
                    </span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="otherLangManipulationMenu"
                        *ngIf="translateMethod"
                        [matMenuTriggerData]="{langMethod: getTranslationMethod()}">
                    <mat-icon svgIcon="translate"></mat-icon>
                    <span>
                        Translate
                    </span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="otherLangManipulationMenu"
                        [matMenuTriggerData]="{langMethod: getCopyMethod(),headerComponentTemplate:postfixTemplate}">
                    <mat-icon svgIcon="content-copy"></mat-icon>
                    <span>
                        Copy En
                    </span>
                </button>

                <ng-template #postfixTemplate>
                    <div>
                        <span class="postfix-label">
                            Postfix
                        </span>
                        <input type="text" value="_en" #postfixInput class="search-text"
                               (click)="$event.stopPropagation()">
                    </div>
                </ng-template>

                <button mat-menu-item (click)="refreshProblems()">
                    <mat-icon svgIcon="refresh"></mat-icon>
                    <span>
                        Recalculate problems
                    </span>
                </button>

                <button mat-menu-item (click)="upload()" *ngIf="allowUpload">
                    <mat-icon svgIcon="upload"></mat-icon>
                    <span>
                        Upload
                    </span>
                </button>
            </mat-menu>

            <mat-menu #langManagementMenu="matMenu">
                <button mat-menu-item #langSelectMenuTrigger="matMenuTrigger" [matMenuTriggerFor]="langSelectMenu">
                    <mat-icon svgIcon="plus-box"></mat-icon>
                    <span>
                        Add \ Remove
                    </span>
                </button>

                <button mat-menu-item [matMenuTriggerFor]="langDisplayedMenu">
                    <mat-icon svgIcon="multiplication"></mat-icon>
                    <span>
                        Displayed
                    </span>
                </button>
            </mat-menu>

            <mat-menu #langSelectMenu="matMenu" class="my-full-width-menu">
                <mat-checkbox #selectLangCheck *ngFor="let lang of langsArray" class="lang-item"
                              [matTooltip]="lang.name + ' ( ' + lang.nativeName + ' )'"
                              matTooltipClass="languageTooltipClass"
                              [disabled]="readonlyLanguages.includes(lang.lang)"
                              [checked]="lang.isPreLoaded"
                              (change)="selectLangChange(lang, selectLangCheck.checked)"
                              (click)="$event.stopPropagation();handleLangSelectMenuChange(selectLangCheck,langSelectMenuTrigger);">
                    <span class="no-disabled-markings">
                        <div class="language-code">{{lang.lang}} -</div>
                        {{lang.name}}
                    </span>
                </mat-checkbox>
            </mat-menu>

            <mat-menu #langDisplayedMenu="matMenu" class="my-full-width-menu display-lang-menu">
                <ng-template matMenuContent>
                    <div cdkDropList (cdkDropListDropped)="drop($event)" >
                    <div class="display-lang-element" *ngFor="let lang of getLanguages4EditingArray()" cdkDrag
                         [cdkDragDisabled]="lang.lang === 'en'">
                        <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                        <mat-icon  cdkDragHandle [svgIcon]="lang.lang !== 'en' ? 'drag-vertical' : ''"></mat-icon>
                        <mat-checkbox #displayLangCheck class="lang-item"
                                      [matTooltip]="lang.name + ' ( ' + lang.nativeName + ' )'"
                                      [disabled]="lang.lang === 'en'"
                                      [checked]="lang.isDisplayed"
                                      (change)="lang.isDisplayed = displayLangCheck.checked"
                                      (click)="$event.stopPropagation()">
                            <span>
                                <div class="language-code">{{lang.lang}} -</div>
                                {{lang.name}}
                            </span>
                        </mat-checkbox>
                    </div>
                    </div>
                </ng-template>
            </mat-menu>

            <mat-menu #otherLangManipulationMenu="matMenu" class="my-full-width-menu">
                <ng-template matMenuContent let-langMethod="langMethod" let-headerComponent="headerComponentTemplate">

                    <ng-container [ngTemplateOutlet]="headerComponent">

                    </ng-container>
                    <ng-container *ngFor="let lang of getLanguages4EditingArray()">
                        <button mat-menu-item (click)="langMethod(lang)"
                                *ngIf="lang.lang !== 'en'">
                            <span>
                                to {{lang.name}} ( {{lang.nativeName}} )
                            </span>
                        </button>
                    </ng-container>
                </ng-template>

            </mat-menu>

            <div class="collapse-expand-buttons-container">
                <button mat-icon-button (click)="expandAll()"
                        matTooltip="Expand All" matTooltipClass="key-tooltip">
                    <mat-icon svgIcon="unfold-more-horizontal"></mat-icon>
                </button>

                <button mat-icon-button (click)="collapseAll()"
                        matTooltip="Collapse All" matTooltipClass="key-tooltip">
                    <mat-icon svgIcon="unfold-less-horizontal"></mat-icon>
                </button>

            </div>

            <div class="added_controls-container">
                <ng-container [ngTemplateOutlet]="addedControlsTemplate"></ng-container>
            </div>

        </div>

        <div class="search-container">
            <span class="search-label">Search By:</span>
            <mat-form-field>
                <mat-select [(value)]="searchBy" (selectionChange)="onSearchBySelectedChange()"
                            class="search-by_select">
                    <mat-option [value]="searchByOptions.PROBLEM" selected>Problem</mat-option>
                    <mat-option [value]="searchByOptions.TEXT">Text</mat-option>
                </mat-select>
            </mat-form-field>

            <input type="text" #searchTextInput [value]="searchText" class="search-text"
                   [class.search-text-invisible]="searchBy !== searchByOptions.TEXT">

            <button mat-icon-button (click)="searchNextOrPrev(false)"
                    matTooltip="Prev" matTooltipClass="key-tooltip">
                <mat-icon svgIcon="chevron-up"></mat-icon>
            </button>

            <button mat-icon-button (click)="searchNextOrPrev()"
                    matTooltip="Next" matTooltipClass="key-tooltip">
                <mat-icon svgIcon="chevron-down"></mat-icon>
            </button>
        </div>
    </div>

    <div class="tree-container">

        <app-json-tree [languagesMap]="languagesMap"
                       [foundObjectID]="foundObjectID"
                       [knownLangsArray]="langsArray"
                       [allowNodesMenu]="allowNodesMenu"
                       [readonlyLanguages]="readonlyLanguages"
                       (outputMessages)="jsonTreeMessageReceived($event)"
        >

        </app-json-tree>

    </div>

</div>
