<div class="main-json-editor-container-not-ok" *ngIf="!wasLangLoadedOk">
  <div class="not-ok-message">
    Languages were NOT loaded or English is missing
  </div>
</div>
<div class="main-json-editor-container" *ngIf="wasLangLoadedOk">

  <div class="main-controls-container">

    <div class="control-buttons-container">
      <button mat-icon-button class="main-menu-button"
              [matMenuTriggerFor]="mainMenu"
              (click)="$event.stopPropagation() ">
        <mat-icon class="mat-icon-rtl-mirror"
                  svgIcon="dots-vertical"></mat-icon>

      </button>

      <mat-menu #mainMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="langManagementMenu">
          <mat-icon svgIcon="web"></mat-icon>
          <span>
            Language
          </span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="langManagementMenu">
          <mat-icon svgIcon="translate"></mat-icon>
          <span>
            Translate
          </span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="copyEnToLangMenu">
          <mat-icon svgIcon="content-copy"></mat-icon>
          <span>
            Copy En
          </span>
        </button>

        <button mat-menu-item (click)="upload()">
          <mat-icon svgIcon="upload"></mat-icon>
          <span>
            Upload
          </span>
        </button>
      </mat-menu>

      <mat-menu #langManagementMenu="matMenu">
        <button mat-menu-item [matMenuTriggerFor]="langSelectMenu">
          <mat-icon svgIcon="plus-box"></mat-icon>
          <span>
            Add \ Remove
          </span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="langDisplayedMenu">
          <mat-icon svgIcon="multiplication"></mat-icon>
          <span>
            Displayed
          </span>
        </button>
      </mat-menu>

      <mat-menu #langSelectMenu="matMenu" class="my-full-width-menu">
        <button mat-menu-item>
          <span>
            Custom ...
          </span>
        </button>

        <mat-checkbox #selectLangCheck *ngFor="let lang of knownLangsArray" class="lang-item" [matTooltip]="lang.name"
                      [disabled]="lang.isPreLoaded"
                      [checked]="lang.isPreLoaded"
                      (change)="selectLangChange(lang, selectLangCheck.checked)"
                      (click)="$event.stopPropagation()">
          <img [src]="'app/json-editor/assets/lang/' + lang.lang + '.svg'" style="width: 30px">
          <span class="no-disabled-markings">
            {{lang.lang}}
          </span>
        </mat-checkbox>

      </mat-menu>

      <mat-menu #langDisplayedMenu="matMenu" class="my-full-width-menu">

        <mat-checkbox #displayLangCheck *ngFor="let lang of languages4EditingArray" class="lang-item"
                      [matTooltip]="lang.name"
                      [disabled]="lang.lang === 'en'"
                      [checked]="lang.isDisplayed"
                      (change)="lang.isDisplayed = displayLangCheck.checked"
                      (click)="$event.stopPropagation()">
          <img [src]="'app/json-editor/assets/lang/' + lang.lang + '.svg'" style="width: 30px">
          <span>
            {{lang.lang}}
          </span>
        </mat-checkbox>

      </mat-menu>

      <mat-menu #copyEnToLangMenu="matMenu" class="my-full-width-menu">

        <ng-container *ngFor="let lang of languages4EditingArray">
          <button mat-menu-item (click)="copyEnTo(lang)" *ngIf="lang.lang !== 'en'">
            <img [src]="'app/json-editor/assets/lang/' + lang.lang + '.svg'" style="width: 30px">
            <span>
              to {{lang.name}}
            </span>
          </button>
        </ng-container>

      </mat-menu>

      <div class="collapse-expand-buttons-container">
        <button mat-icon-button (click)="expandAll()"
                matTooltip="Expand All" matTooltipClass="key-tooltip">
          <mat-icon svgIcon="unfold-more-horizontal"></mat-icon>
        </button>

        <button mat-icon-button (click)="collapseAll()"
                matTooltip="Collapse All" matTooltipClass="key-tooltip">
          <mat-icon svgIcon="unfold-less-horizontal"></mat-icon>
        </button>

      </div>
    </div>

    <div class="search-container">
      <span class="search-label">Search By:</span>
      <mat-form-field>
        <mat-select [(value)]="searchBy" (selectionChange)="onSearchBySelectedChange()" class="search-by_select">
          <mat-option [value]="searchByOptions.PROBLEM" selected>Problem</mat-option>
          <mat-option [value]="searchByOptions.TEXT">Text</mat-option>
        </mat-select>
      </mat-form-field>

      <input type="text" #searchTextInput [value]="searchText" class="search-text"
             [class.search-text-invisible]="searchBy !== searchByOptions.TEXT">

      <button mat-icon-button (click)="searchNextOrPrev(false)"
              matTooltip="Prev" matTooltipClass="key-tooltip">
        <mat-icon svgIcon="chevron-up"></mat-icon>
      </button>

      <button mat-icon-button (click)="searchNextOrPrev()"
              matTooltip="Next" matTooltipClass="key-tooltip">
        <mat-icon svgIcon="chevron-down"></mat-icon>
      </button>
    </div>
  </div>

  <div class="tree-container">

    <mat-tree fxFlex="1 1 20%" fxLayout="row" #tree [dataSource]="dataSource" [treeControl]="treeControl"
              class="lang-tree">

      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        <li class="mat-tree-node" [id]="node.id" [class.focused-found-element]="node.id === foundObjectID">
          <div class="trans-row-icon-container">
            <button mat-icon-button
                    [class.problem-detected]="node.problemType !== problemType.NONE "
                    [matTooltip]="getProblemText(node.problemType)" matTooltipClass="problem-detected-tooltip">
              <mat-icon class="mat-icon-rtl-mirror" svgIcon="arrow-right-drop-circle-outline"></mat-icon>
            </button>
          </div>
          <div class="edit-trans-row">
            <div class="trans-key-container">
              <span class="trans-key-label" [style.width]="getMaxLabelWidth( node )"
                    [matTooltip]="node.fullPath" matTooltipClass="key-tooltip">
                {{node.key}}
              </span>
            </div>
            <div class="trans-container">
              <ng-container *ngFor="let langData of languages4EditingArray">
                <div class="trans-lang-container" *ngIf="langData.isDisplayed">
                  <input type="text" [value]="node.value[langData.lang] ? node.value[langData.lang] : ''"
                         class="input-trans"
                         [ngClass]="{'not-found-trans': !node.value[langData.lang] }"
                         [style.direction]="langData.isRtl ? 'rtl' :''"
                         [placeholder]="!node.value[langData.lang] ? 'undefined !!!!' : ''">
                  <span class="lang-label">
                    {{langData.lang}}
                  </span>
                </div>
              </ng-container>
            </div>
          </div>
        </li>
      </mat-tree-node>

      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild" matTreeNodeToggle>
        <li>
          <div class="mat-tree-node" [id]="node.id" [class.focused-found-element]="node.id === foundObjectID">
            <button mat-icon-button matTreeNodeToggle
                    [class.problem-detected]="node.problemType !== problemType.NONE "
                    [matTooltip]="getProblemText(node.problemType)" matTooltipClass="problem-detected-tooltip">
              <mat-icon class="mat-icon-rtl-mirror"
                        [svgIcon]="treeControl.isExpanded(node) ?'chevron-down':'chevron-right'"></mat-icon>

            </button>
            <span [matTooltip]="node.fullPath" matTooltipClass="key-tooltip">
              {{node.key}}
            </span>
            <button mat-icon-button class="options-button"
                    [matMenuTriggerFor]="JsonNodeOptionsMenu" [matMenuTriggerData]="{node:node}"
                    (click)="$event.stopPropagation() ">
              <mat-icon class="mat-icon-rtl-mirror"
                        svgIcon="dots-vertical"></mat-icon>

            </button>

          </div>
          <ul [class.lang-tree-invisible]="!treeControl.isExpanded(node)">
            <ng-container matTreeNodeOutlet></ng-container>
          </ul>
        </li>
      </mat-nested-tree-node>

    </mat-tree>

    <mat-menu #JsonNodeOptionsMenu="matMenu">
      <ng-template matMenuContent let-node="node">
        <button mat-menu-item (click)="editNodeName(node)">
          <mat-icon svgIcon="pencil"></mat-icon>
          <span>
            Edit Name
          </span>
        </button>

        <button mat-menu-item (click)="editNodePath(node)">
          <mat-icon svgIcon="tournament"></mat-icon>
          <span>
            Edit Path
          </span>
        </button>

        <button mat-menu-item [matMenuTriggerFor]="addMenu" [matMenuTriggerData]="{node:node}">
          <mat-icon svgIcon="plus-box"></mat-icon>
          <span>
            Add Child
          </span>
        </button>

        <button mat-menu-item (click)="deletNode(node)">
          <mat-icon svgIcon="trash-can-outline"></mat-icon>
          <span>
            Delete record
          </span>
        </button>
      </ng-template>
    </mat-menu>

    <mat-menu #addMenu="matMenu">
      <ng-template matMenuContent let-node="node">
        <button mat-menu-item (click)="addChildNode(node,false)">
          <mat-icon svgIcon="translate"></mat-icon>
          <span>
            Translation
          </span>
        </button>
        <button mat-menu-item (click)="addChildNode(node)">
          <mat-icon svgIcon="group"></mat-icon>
          <span>
            Container
          </span>
        </button>
      </ng-template>
    </mat-menu>

  </div>

</div>
