.loginPageContainer {
}

.loginCardContainer::before {
  content: "";
  position: absolute;
  top: 15vh;
  left: 5vw;
  width: 90vw;
  height: 70vh;
  opacity: .25;
  background: url('/assets/icons/icon-192x192.png');
}

.loginCardContainer {
  display: flex;
  justify-content: center;
  padding: 20vh 0px;
}

.mat-form-field {
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.button {
  display: flex;
  justify-content: flex-end;
}
