.main-toolbar{
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  height: 8vh;
}

.main-display{
 height: 92vh;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.matTabGroupClass{
  height: 100%;
}

.btn-group {
  padding: 0px 5px;
}

.toggle-container{
  width: 20%;
}

::ng-deep .mat-tab-body-wrapper{
  height: 100%;
}
