.main-toolbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 8vh;
}

.main-display {
  height: 92vh;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.options {
  color: blue;
  height: 5vh;
  width: 5vw;
}

.selectedLangClass{
  background-color: lightcyan;
}

::ng-deep .matTabGroupClass .mat-tab-header {
  background-color: #e3f2fd;
  /*height: 100%;*/
}

::ng-deep .matTabGroupClass .mat-tab-label {
  font-weight: bolder;
  font-size: large;
}

::ng-deep .matTabGroupClass .mat-tab-label-activ {
  font-weight: bolder;
  font-size: large;
}

.nextGongTimeContainer {
  display: flex;
  flex-direction: row;
}

.langRtl {
  direction: rtl;
}

::ng-deep .manualTooltipClass {
  color: black;
  background: violet;
}

