<table mat-table [dataSource]="dataSource" width="100%" #Gong_Table>

  <!-- Day -->
  <ng-container matColumnDef="day" *ngIf="displayDay">
    <th mat-header-cell *matHeaderCellDef [ngClass]="{'dayTd': displayDate}">
      {{ 'general.tableHeaders.gongsTimeTable.day' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'dayTd': displayDate}"
        id="{{ element.isTheNextGong ? 'NEXT_GONG' :'' }}"
        [attr.rowspan]="element.span"
        [style.display]="element.span > 0 ? '' : 'none'">
      <span class="dayClass">
        {{ element.dayNumber }}
      </span>
    </td>
  </ng-container>

  <!-- Date -->
  <ng-container matColumnDef="date" *ngIf="displayDate">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.date' | translate }}
    </th>
    <td mat-cell *matCellDef="let element"
        [attr.rowspan]="element.span"
        [style.display]="element.span > 0 ? '' : 'none'">
      <span [ngClass]="{'nextGong' : element.isTheNextGong}">
        {{ element.date | date: dateFormat.delimited }}
      </span>
    </td>
  </ng-container>

  <!-- Time -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.time' | translate }}
    </th>
    <td mat-cell *matCellDef="let element; let rowIndex = index;"
        id="{{ rowIndex === 0 ? 'FIRST_GONG' : ''}}"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      {{ element.time | date :'HH:mm' : 'UTC' }}
    </td>
  </ng-container>

  <!-- Gong Type -->
  <ng-container matColumnDef="gongType">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.gongType' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="gongTypeTd"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      {{'general.typesValues.gongType.' + element.gongTypeName | translate }}
    </td>
  </ng-container>

  <!-- Area -->
  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.area' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="areaTd"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      <app-selected-areas [selectedAreas]="element.areas">
      </app-selected-areas>
    </td>
  </ng-container>

  <!-- Volume -->
  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef class="volumeTd">
      {{ 'general.tableHeaders.gongsTimeTable.volume' | translate }}
      <BR>
      ({{ 'general.tableHeaders.gongsTimeTable.repeat' | translate }})
    </th>
    <td mat-cell *matCellDef="let element" class="volumeTd"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      <div matTooltip="{{element.volume}} %" matTooltipClass="volumeTooltipClass"
           class="volumeContainer">
        <div class="repeat-volume_container">
          <div class="repeat-container" >
            {{element.repeat}}
          </div>
          <mat-progress-spinner [value]="element.volume" [diameter]="25" [strokeWidth]="3">
          </mat-progress-spinner>
        </div>
      </div>
    </td>
  </ng-container>

  <!-- Is ON -->
  <ng-container matColumnDef="isOn">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.' + (isDeleteButton ? 'delete' : 'isOn')| translate }}
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'nextGong' : element.isTheNextGong}" class="delete-cell">
      <ng-container *ngIf="isDeleteButton">
        <button mat-icon-button (click)="gongRemove(element.exactMoment.valueOf())" color="accent"
                class="delete-button ">
          <mat-icon svgIcon="close-box"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!isDeleteButton">
        <mat-checkbox #cmd id="{{element.exactMoment.valueOf()}}"
                      (click)=" element.isAfterNextGong && !isDisableToggle && gongToggle($event,element.exactMoment.valueOf())"
                      [class.toggle-gong-check]="isDisableToggle && element.isAfterNextGong"
                      [disabled]="!element.isAfterNextGong || isDisableToggle" [checked]="element.isActive">
        </mat-checkbox>

      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
