<table mat-table [dataSource]="dataSource" width="100%" style="height: 100%">

  <!-- Day -->
  <ng-container matColumnDef="day" *ngIf="displayDay">
    <th mat-header-cell *matHeaderCellDef class="dayTd">
      {{ 'general.tableHeaders.gongsTimeTable.day' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="dayTd"
        [attr.rowspan]="element.span"
        [style.display]="element.span > 0 ? '' : 'none'">
      <span class="dayClass">
        {{ element.dayNumber }}
      </span>
    </td>
  </ng-container>

  <!-- Date -->
  <ng-container matColumnDef="date" *ngIf="_displayDate">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.date' | translate }}
    </th>
    <td mat-cell *matCellDef="let element"
        [attr.rowspan]="element.span"
        [style.display]="element.span > 0 ? '' : 'none'">
      <span [ngClass]="{'nextGong' : element.isTheNextGong}">
        {{ element.date | date:'dd-MM-yyyy'}}
      </span>
    </td>
  </ng-container>

  <!-- Time -->
  <ng-container matColumnDef="time">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.time' | translate }}
    </th>
    <td mat-cell *matCellDef="let element"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      {{ element.time | date :'HH:mm' : 'UTC' }}
    </td>
  </ng-container>

  <!-- Gong Type -->
  <ng-container matColumnDef="gongType">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.gongType' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="gongTypeTd"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      {{'general.typesValues.gongType.values.' + element.gongTypeName | translate }}
    </td>
  </ng-container>

  <!-- Area -->
  <ng-container matColumnDef="area">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.area' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="areaTd"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      <app-selected-areas [selectedAreas]="element.areas">
      </app-selected-areas>
    </td>
  </ng-container>

  <!-- Volume -->
  <ng-container matColumnDef="volume">
    <th mat-header-cell *matHeaderCellDef class="volumeTd">
      {{ 'general.tableHeaders.gongsTimeTable.volume' | translate }}
    </th>
    <td mat-cell *matCellDef="let element" class="volumeTd"
        [ngClass]="{'nextGong' : element.isTheNextGong}">
      <div matTooltip="{{element.volume}} %" matTooltipClass="volumeTooltipClass"
           class="volumeContainer">
        <mat-progress-spinner [value]="element.volume" [diameter]="20" [strokeWidth]="3">
        </mat-progress-spinner>
      </div>
    </td>
  </ng-container>

  <!-- Is ON -->
  <ng-container matColumnDef="isOn">
    <th mat-header-cell *matHeaderCellDef>
      {{ 'general.tableHeaders.gongsTimeTable.' + (isDeleteButton ? 'delete' : 'isOn')| translate }}
    </th>
    <td mat-cell *matCellDef="let element" [ngClass]="{'nextGong' : element.isTheNextGong}">
      <ng-container *ngIf="isDeleteButton">
        <button mat-icon-button (click)="gongRemove(element.exactMoment.valueOf())">
          <mat-icon svgIcon="window-close"></mat-icon>
        </button>
      </ng-container>
      <ng-container *ngIf="!isDeleteButton">
        <mat-checkbox #cmd id="{{element.exactMoment.valueOf()}}"
                      (click)="element.isAfterNextGong && gongToggle($event,element.exactMoment.valueOf())"
                      [disabled]="!element.isAfterNextGong" [checked]="element.isActive">
        </mat-checkbox>

      </ng-container>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;">
  </tr>
</table>
