th, td {
  vertical-align: top;
  border-right: 1px solid rgba(0, 0, 0, .12);
  /*padding-left: 16px !important;*/
  padding-top: 14px !important;
  text-align: center !important;
}

::ng-deep .volumeTooltipClass {
  color: black;
  background: violet;
}

th.mat-header-cell:first-of-type, td.mat-cell:first-of-type {
  padding-left: 0px;
}

.areaTd {
  width: 20% !important;
}

.gongTypeTd {
  width: 20%;
}

.dayTd {
  border-right: none;
}

.volumeTd {
  width: 12%;
  padding-right: 0px !important;
}

.volumeContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dayClass {
  font-weight: bolder;
  font-size: larger;
  color: blue;
}

.nextGong {
  background-color: lightcyan;
}

::ng-deep .confirmClass .swal-icon {
  position: fixed;
  margin: 2vh 2vw;
}

.delete-cell {
  /*display: flex;*/
  /*flex-direction: row;*/
  /*justify-content: center;*/
}

.delete-button {
  /*color: red;*/
  position: relative;
  top: -7px;
  left: 7px;
}
