@import "src/app/dialogs/shared/dialogs-common";

.date-picker {
  display: none;
}

.date-display-container {
  display: flex;
  flex-direction: row;
}

.start-date-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: default;
}

.start-date-display:not(.start-date-display-disabled) {
  cursor: pointer;
}

.start-date-display-disabled {
  color: lightgray;
}

h4 {
  margin: 0px;
}

.test-course-label {
  display: inline;
}

.hours-range-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-top: 10px;
}

.hour-range {
  width: 20%;
  border: solid blue 1px;
  border-radius: 3px;
}

.hour-range:disabled {
  border: solid gray 1px;
  background-color: lightgray;
}

.hours-range-seperation {
  padding: 0px 8px;
}

.dialog-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

::ng-deep .schedule-course-dialog .mat-dialog-container {
  padding: unset;
}

.two-fields-container {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 2vh;
}

.field-container {
  width: 50%;
  padding-right: 10%;
}

.schedule-course-button {
  margin-left: 2vw;
}
