<div class="dialog-container">
  <div class="message-title">
    <div class="header">
      Update name of key
    </div>
    <mat-icon (click)="closeDialog()" class="close-img" svgIcon="close"></mat-icon>
  </div>
  <hr class="line">
  <div class="body-content">

    <input matInput #nameInput placeholder="Edit Set name" [value]="name" class="input-name"
           (keydown.enter)="nameInput.value && onKeydown(nameInput.value)">

  </div> <!--body-section-->

  <div class="buttons-container">
    <button mat-raised-button (click)="closeDialog()" color="accent"
            class="dialog-button">
      Cancel
    </button>

    <button mat-raised-button (click)="submit(nameInput.value)" color="primary" [disabled]="isNameOk(nameInput.value)"
            class="dialog-button">
      Submit
    </button>

  </div> <!--buttons-section-->

</div>

