.users-container {
  height: 98%;
}

.btn-group button {
  margin: 10px;
}

.top-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.users-display-container {
  display: flex;
  justify-content: center;

  .users-table-container {
    width: 95%;

    .users-table {
      width: 100%;

      .mat-column-user_id, .mat-column-role {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-break: break-word;
      }

      .mat-column-user_id {
        flex: 0 0 25% !important;
      }

      .mat-column-role {
        flex: 0 0 20% !important;
      }

      .mat-column-creation_date, .mat-column-update_date {
        word-wrap: break-word !important;
        white-space: unset !important;
        overflow-wrap: break-word;
        word-break: break-word;
        flex: 0 0 25% !important;
        justify-content: center;
      }

      .highlight {
        color: white;
        background: #e3f2fd;
      }

      .mat-row:not(.highlight) {
        cursor: pointer;


        &:hover {
          border: 1px solid blue;
        }
      }
    }
  }
}
