.highlight {
  background: red;
}

.courses-display-container{
  display: flex;
  flex-direction: row;
  /*justify-content: space-evenly;*/
}


.main-table-container{
  width: 40%;
}

.selected-course-display-container{
  width: 60%;

}

th, td {
  vertical-align: top;
  border-right: 1px solid rgba(0,0,0,.12);
  padding-left: 16px !important;
  padding-top: 14px !important;
}
