body {
  /*position: relative;*/
  /*height: auto;*/
  /*max-height: 100% !important;*/
}

.automaticActivationContainer {
  height: 98%;
}

.btn-group {
  margin: 10px;
}

.top-controls-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.btn-group-left-side {
  width: 38%;
}

.btn-group-right-side {
  width: 55%;
}

.btn-group button {
  margin-right: 2vw;
}

.scroll-next-gong-button {
  margin-left: 2vw;
}

.courses-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}

.main-table-container {
  width: 38%;
  overflow: auto;
}

.selected-course-display-container {
  width: 58%;
  overflow: auto;
}

.courses-table {
  width: 100%;
  padding-right: 1vw;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type {
  padding-right: unset;
}

.td-center-content {
  justify-content: center;
}

.date-cell-container {
  min-width: 80px;
}

.courses-table {
  .highlight {
    color: white;
    background: #e3f2fd;
  }

  .mat-row:not(.highlight){
    cursor: pointer;


    &:hover {
      border: 1px solid blue;
    }
  }
}
