<div class="automaticActivationContainer">
  <div class="btn-group">
    <button mat-raised-button color="primary" (click)="scheduleCourse()">
      {{ 'automaticActivation.buttons.scheduleCourse' | translate }}
    </button>
    <button mat-raised-button color="accent" (click)="removeScheduledCourse()"
            [disabled]="!selectedCourseScheduled">
      {{ 'automaticActivation.buttons.removeCourse' | translate }}
    </button>
  </div>


  <div class="courses-display-container">

    <div class="main-table-container mat-elevation-z8">
      <mat-table [dataSource]="coursesDataSource" width="100%">

        <!-- course Name -->
        <ng-container matColumnDef="course_name">
          <mat-header-cell *matHeaderCellDef>
            {{ 'automaticActivation.scheduleTable.headers.name' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ 'automaticActivation.scheduleTable.courseName.' +
            element.name | translate }}
          </mat-cell>
        </ng-container>


        <!-- no. Of Days -->
        <ng-container matColumnDef="daysCount">
          <mat-header-cell *matHeaderCellDef>
            [{{ 'automaticActivation.scheduleTable.headers.startFromDay' | translate }}/]<BR/>
            {{ 'automaticActivation.scheduleTable.headers.daysCount' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <ng-container *ngIf="element.startFromDay >= 0">
              {{element.startFromDay}} /
            </ng-container>
            {{element.daysCount}}
          </mat-cell>
        </ng-container>

        <!-- date -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef>
            {{ 'automaticActivation.scheduleTable.headers.date' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{element.date | date:'dd-MM-yyyy' }}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="coursesDisplayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: coursesDisplayedColumns;"
                 [ngClass]="{'highlight': selectedCourseScheduled && selectedCourseScheduled.id == row.id}"
                 (click)="onRowClick(row)">
        </mat-row>
      </mat-table>
    </div>

    <div class="selected-course-display-container mat-elevation-z8" *ngIf="true">
      <app-gongs-time-table [scheduledGongs]="selectedCourseRoutineArray">
      </app-gongs-time-table>

    </div><!--End of selected-course-display-container-->

  </div>
</div>
