body {
  /*position: relative;*/
  /*height: auto;*/
  /*max-height: 100% !important;*/
}

.automaticActivationContainer {
  height: 98%;
}

.highlight {
  color: white;
  background: #e3f2fd;
}

.btn-group {
  margin: 10px;
}

.btn-group button {
  margin-right: 2vw;
}

.courses-display-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 90%;
}

.main-table-container {
  width: 38%;
  overflow: auto;
}

.selected-course-display-container {
  width: 58%;
  overflow: auto;
}

.courses-table {
  width: 100%;
  padding-right: 1vw;
}

mat-cell:last-of-type,
mat-header-cell:last-of-type {
  padding-right: unset;
}

.td-center-content {
  justify-content: center;
}

.date-cell-container {
  min-width: 80px;
}
