<div class="automaticActivationContainer">
  <div class="btn-group top-controls-container">
    <div class="btn-group-left-side">
      <button mat-raised-button color="primary" (click)="scheduleCourse()"
              [disabled]="!isRoleForEdit()">
        {{ 'automaticActivation.buttons.scheduleCourse' | translate }}
      </button>
      <button mat-raised-button color="accent" (click)="removeScheduledCourse()"
              [disabled]="!selectedCourseScheduled || !isRoleForEdit() ">
        {{ 'automaticActivation.buttons.removeCourse' | translate }}
      </button>
    </div>
    <div class="btn-group-right-side">
      <mat-checkbox [(ngModel)]="displayDate" *ngIf="selectedCourseScheduled">
        {{ 'automaticActivation.labels.displayDate' | translate }}
      </mat-checkbox>

      <button mat-raised-button color="basic" class="scroll-next-gong-button"
              (click)="scrollToNextGong()" *ngIf="coursesData.length > 0">
        {{ 'automaticActivation.buttons.nextAutoGong' | translate }}
      </button>
    </div>
  </div>


  <div class="courses-display-container">

    <div class="main-table-container mat-elevation-z8">
      <mat-table [dataSource]="coursesDataSource" class="courses-table">

        <!-- course Name -->
        <ng-container matColumnDef="course_name">
          <mat-header-cell *matHeaderCellDef>
            {{ 'automaticActivation.scheduleTable.headers.name' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element">
            {{ 'automaticActivation.scheduleTable.courseName.' +
          element.name | translate }}
          </mat-cell>
        </ng-container>


        <!-- no. Of Days -->
        <ng-container matColumnDef="daysCount">
          <mat-header-cell *matHeaderCellDef class="td-center-content">
            [{{ 'automaticActivation.scheduleTable.headers.startFromDay' | translate }}/]<BR/>
            {{ 'automaticActivation.scheduleTable.headers.daysCount' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="td-center-content">
            <ng-container *ngIf="element.startFromDay > 0">
              {{element.startFromDay + 1}} /
            </ng-container>
            {{element.daysCount}}
          </mat-cell>
        </ng-container>

        <!-- date -->
        <ng-container matColumnDef="date">
          <mat-header-cell *matHeaderCellDef class="td-center-content">
            {{ 'automaticActivation.scheduleTable.headers.date' | translate }}
          </mat-header-cell>
          <mat-cell *matCellDef="let element" class="td-center-content">
            <div class="date-cell-container">
              {{element.date | date: dateFormat.delimited }}
            </div>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="coursesDisplayedColumns; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let row; columns: coursesDisplayedColumns;"
                 [ngClass]="{'highlight': selectedCourseScheduled && selectedCourseScheduled.id == row.id}"
                 (click)="onRowClick(row)">
        </mat-row>
      </mat-table>
    </div>

    <div class="selected-course-display-container mat-elevation-z8">
      <app-gongs-time-table [scheduledGongs]="selectedCourseRoutineArray" [displayDate]="displayDate"
                            (gongActiveToggleEvent)="onGongActiveToggle($event)"
                            [isDisableToggle]="!isRoleForEdit()"
                            [computeNextGong]="true"
                            [isFindNext]="selectedCourseScheduled === coursesData[0]"
                            (gongsTableDataChangedEvent)="onGongsTableDataChangedEvent()">
      </app-gongs-time-table>

    </div><!--End of selected-course-display-container-->

  </div>
</div>
