@import "src/app/dialogs/shared/dialogs-common";

.field-container {
  display: flex;
}

.field-container H4 {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  padding-right: 20px;
  padding-left: 20px;
}

.field-container MAT-FORM-FIELD {
  width: 30%;
}

.field-container DIV {
  width: 30%;
  color: red;
  font-size: small;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
